/*common start*/
body{
    margin: 0;
    padding:0;
    font-family:'Playfair Display', serif;
    font-size:16px;
    font-weight:400; 
    color:#626262;
}
/*commoon end*/

/*header start*/
header{
    padding:25px 0;
    border:1px solid red;
}
.container{
    margin:0 auto;
    width: 90%;
    /*border:1px solid black;*/
    overflow: hidden;
}
.logo{
    margin-top: 12px;
    float: left;
    width: 12% ;  
     /*border:1px solid red;*/
}
.logo img{
    width: 100%;
}
.menu{
    float: right;
    width: 65%;
    /*border:1px solid red;*/
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;

}
.menu ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: inline-block;
    color:#626262;
    text-transform: uppercase;
    border-bottom: 1px solid transparent
}
.menu ul li:last-child a {
    margin-right: 0 px;
}
.menu ul li a:hover{
    /*border-bottom: 1px solid black;*/
}
/*header end*/


/*banner start*/
.banner{}
.b_img{}
.b_imd img{
    width: 100%;
}
/*banner end*/

/*perfect start*/
.perfect{
    padding:100px 0 60px;
}
.container2{
    margin: 0 auto;
    width:80%;
    /*border:1px solid red;*/

}
.p_content{

}
.c_light{
    margin: 0;
   font-family: 'Ubuntu', sans-serif;
   font-size: 14px;
   font-weight: 300;
   color:#b4ad9e; 
   text-transform: uppercase;
}
.c_title{
    margin: 20px 0 25px;
    font-size: 30px;
   font-weight: 400;
}
.c_text{
    margin: 0;
   line-height: 26px;
}
.mb_45{
    margin-bottom: 20px;
}

/*prefect end*/

/*blog start*/
.blog{
    padding: 20px 0 60px;
}
.b_content{
    overflow: hidden;
}
.b_single{
    margin-top: 80px;
    float: left;
    width: 47%;
    /*border:1px solid black;*/
}
.b_single:nth-child(even){
     margin-left: 6%;
}
.s_img{
    margin-bottom: 25px;
}
.s_img img{
    width:100%;
}
/*blog end*/

/*newsletter start*/

.newsletter{
/*    margin: 0 auto;*/
    min-height: 250px;
    background-color:#f0f0f0;
    border:1px solid red; 
}
.container4{
    width: 60%;
    margin: 0 auto;

}
.for_form{
    width: 340px;
    position: relative;
    left:0 auto;
}
.for_form input{
    border:none;
    font-size: 18px;
    width: 290px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right: 60px;
}
/*newsletter end*/